@{
    Layout = "default";
    Title = "F# 66";
    Description = "F# และ Functional Programming";
}

<h1>สวัสดีครับ</h1>

<p><strong>ยินดีต้อนรับสุ่ F# 66 ครับ</strong> บล็อกนี้มีวัตถุประสงค์เพื่อการแนะนำให้รู้จักภาษา F# และการเขียนโปรแกรมเชิงฟังก์ชัน (Functional Programming)</p>


